<div class="dashboard-container">
    <div class="content">
      <h2>Eliminar Empleado</h2>
      <form class="search-bar" (ngsubmit)="eliminarEmpleado(addForm, id)" #addForm="ngForm">
        <input type="number" id="id" name="id" [(ngModel)]="id" required>
        <button (click)="eliminarEmpleado(addForm, id)" type="submit" [disabled]="!addForm.valid">Eliminar</button>
      </form>
      <div class="employee-list">
        <ul>
          <li>Empleado</li>
          <li>{{mensaje}}</li>
        </ul>
      </div>
    </div>
  </div>
  