<div class="dashboard-container">
  <div class="content">
    <h2>Todos los Empleados</h2>
    <div class="employee-list">
      <h3>Empleados:</h3>
      <ul>
        <!-- Agrega los títulos de Nombre, Dirección y Teléfono -->
        <li>
          <strong>Nombre</strong> - <strong>Dirección</strong> - <strong>Teléfono</strong>
        </li>
        <!-- Itera sobre la lista de empleados y muestra cada uno -->
        <li *ngFor="let empl of empleado">
          {{empl.clave}} - {{ empl.nombre }} - {{ empl.direccion }} - {{ empl.telefono }}
        </li>
      </ul>
    </div>
  </div>
</div>
